version: '3.8'
services:

  front-end:
    extends:
      file: front-end/docker-compose.yml
      service: nginx
    depends_on:
      - db
      - data-service

  db:
    extends:
      file: db-service/docker-compose.yml
      service: db_child

  data-service:
    extends:
      file: data_service/docker-compose.yml
      service: db_service_child
    depends_on:
      - db
    env_file:
      - db-service/data_db.env

  auth-service:
    extends:
      file: auth_service/docker-compose.yml
      service: auth_service
    depends_on:
      - db
    env_file:
      - db-service/auth_db.env

volumes:
  db_volume:
    external: true
    name: db_volume

networks:
  cmsc495_network:
    external: true
    name: cmsc495_network
