version: '3.8'
services:
  db:
    image: postgres
    platform: linux/amd64
    container_name: db
    env_file:
      - db_compose.env
    volumes:
      - db_volume:/var/lib/postgresql/data/  # Path is where the container stores sql data
    ports:
      - 5432:5432
    networks:
      - cmsc495_network

volumes:
  db_volume:
    external: true
    name: db_volume

networks:
  cmsc495_network:
    external: true
    name: cmsc495_network
