version: '3.8'
services:
  data_db:
    image: postgres
    env_file:
      - $PWD/db-service/data_db.env
    platform: linux/amd64
    container_name: data_db
    volumes:
      - data_volume:/var/lib/postgresql/data/  # Path is where the container stores sql data
    ports:
      - 54320:54320
    networks:
      - cmsc495_network

  auth_db:
    image: postgres
    env_file:
      - $PWD/db-service/auth_db.env
    platform: linux/amd64
    container_name: auth_db
    volumes:
      - auth_volume:/var/lib/postgresql/data/  # Path is where the container stores sql data
    ports:
      - 54321:54321
    networks:
      - cmsc495_network

volumes:
  auth_volume:
    external: true
    name: auth_volume

  data_volume:
    external: true
    name: data_volume

networks:
  cmsc495_network:
    external: true
    name: cmsc495_network
